// Заголовки, загальні БЕМ блоки та інше...
.hover {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	line-height: 1;

	&::after {
		content: '';
		width: 95%;
		transform: scale(0);
		height: toRem(1);
		background-color: var(--white-color);
		transition: transform 0.1s;
	}

	&:hover {
		&::after {
			transform: scale(1);
		}
	}
}

.logo {
	@media (max-width:$mobileSmall) {
		height: toRem(50);
	}

	img {
		@include adaptiveValue("width", 234, 165);
	}
}

.nav-link {
	padding: 0 22px;
	display: block;
	position: relative;
	font-weight: 700;

	@media (min-width:$tablet) {
		&::after {
			content: '';
			height: toRem(1);
			width: 100%;
			background-color: var(--white-color);
			position: absolute;
			left: 0;
			bottom: toRem(-30);
			opacity: 0;
			transition: opacity 0.2s, bottom 0.4s;
		}

		&:hover {
			span {
				transform: translateY(-100%);
				opacity: 1;
				position: initial;
			}

			&::after {
				opacity: 1;
				bottom: toRem(10);
			}
		}

		span {
			transition: transform 0.4s, opacity 0.2s;
			display: block;
		}
	}
}

.nav-text-hover {
	opacity: 0;
	pointer-events: none;

	@media (max-width:$tablet) {
		display: none;
	}
}

.btn {
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: toRem(15) toRem(35) toRem(15) toRem(25);
	min-width: toRem(210);
	border-radius: toRem(20);
	border: solid 1px var(--white-color);
	font-size: toRem(20);
	text-transform: uppercase;
	overflow: hidden;
	transition: border 0.3s;

	&__text {
		z-index: 2;
		transition: transform 0.7s;
	}

	&__border {
		position: absolute;
		right: toRem(20);
		min-width: toRem(50);
		height: toRem(30);
		border-radius: toRem(20);
		border: solid 1px var(--white-color);
	}

	span:not([class]) {
		z-index: 1;
		transition: transform 0.7s;
	}

	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 100%;
		left: 0;
		top: 0;
		border-radius: toRem(20);
		background-color: var(--accented-color);
		transition: width 0.7s;
	}

	&:hover {
		border: solid 1px var(--accented-color);

		&::after {
			box-shadow: 0 0 0 2px var(--accented-color);
			width: 100%;
		}

		.btn__text,
		span:not([class]) {
			transform: translateX(20%);
		}
	}

	&--green {
		border-color: var(--accented-color);
		color: var(--accented-color);
		transition: color 1s;

		svg {
			transition: all 1s;
			fill: var(--accented-color);

			path {
				transition: all 1s;
				stroke: var(--accented-color);
			}
		}

		&:hover {
			color: var(--white-color);

			svg {
				fill: var(--white-color);

				path {
					stroke: var(--white-color);
				}
			}
		}

		.btn__border {
			border-color: var(--accented-color);
		}
	}
}

.heading {
	font-family: 'Mr De Haviland';
	font-size: 48px;
	display: flex;
	align-items: center;
	gap: toRem(10);
	color: var(--white-color);
	white-space: nowrap;

	&::before {
		content: '';
		width: toRem(90);
		height: toRem(1);
		background-color: var(--white-color);
	}

	&--green {
		color: var(--accented-color);

		&::before {
			background-color: var(--accented-color);
		}
	}
}

.title {
	font-family: 'Libre Baskerville';
	@include adaptiveValue("font-size", 36, 30);
	text-transform: uppercase;
	@include adaptiveValue("margin-bottom", 40, 10);

	&--white {
		color: var(--white-color);
	}

	@media (min-width:$pc) {
		padding-left: toRem(100);
	}
}


.slider-button-navigation {
	display: flex;
	gap: toRem(70);
	justify-content: end;
	margin-right: toRem(20);

	@media (max-width:$mobileSmall) {
		justify-content: center;
		margin-right: toRem(0);
	}
}

.swiper-button-prev {
	background-image: url('@img/hero/left-line.svg');
}

.swiper-button-next {
	background-image: url('@img/hero/right-line.svg');
}

.swiper-button-prev--green {
	background-image: url('@img/hero/left-line-green.svg');
}

.swiper-button-next--green {
	background-image: url('@img/hero/right-line-green.svg');
}

.swiper-button-prev,
.swiper-button-next {
	width: toRem(24);
	height: toRem(24);
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		border-radius: 50%;
		min-width: toRem(40);
		height: toRem(40);
		border: solid 1px var(--green-color);
		border-radius: 50%;
		transition: background-color 0.3s;
	}
}

.swiper-button-prev.swiper-button-disabled::before,
.swiper-button-next.swiper-button-disabled::before {
	background-color: rgb(45, 78, 67, 0.9);
}

.swiper-button-prev--green.swiper-button-disabled::before,
.swiper-button-next--green.swiper-button-disabled::before {
	background-color: rgb(255, 255, 255, 0.5);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	pointer-events: none;
}

.top-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: toRem(1104);
	gap: toRem(38);

	&::after {
		content: '';
		background-image: url('@img/services/flower.svg');
		width: toRem(75);
		height: toRem(77);
	}

	&--green {
		&::after {
			background-image: url('@img/services/flower-green.svg');
		}
	}

	@media (max-width:$mobile) {
		flex-direction: column;
		align-items: start;
		gap: toRem(0);
		margin-bottom: toRem(20);

		&::after {
			display: none;
		}
	}

	&__title-box {
		flex-grow: 1
	}

	.top-text {
		@include adaptiveValue("font-size", 18, 14);
		max-width: toRem(380);
		width: 100%;
	}
}